{% extends 'base.html' %}

{% block content %}
<h1>Lets dehash</h1>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" name="hashed" placeholder="Enter hash: " class="form-control">
    </div>
    <p>If you cracking someones password enter his eg name surname nickname username or phone with space<br>
    Example: John Doe 1999 jdoe
    </p>
    <div class="mb-3">
        <input type="text" name="words" placeholder="Enter key words: " class="form-control">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
{% if hashed %}
<div class="mt-3">
    <b>Hash</b>=><code>{{hashed}}</code><br>
    <b>{{hashtype}}</b>:<code>{{hashvalue}}</code>
</div>
{% endif %}
{% endblock %}